/Library
/*.csproj
/*.sln
/.vs
/obj
/Temp
/*.apk
/obj
*.unity3d
*.pdb
/.localhistory
/.vs
.gradle/
/.idea
_Builds/
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Scenes/Tmp.unity
Assets/Scenes/Tmp.unity.meta
Assets/Art/Animation/Characters/Main/Greetings_bckp.fbx
Assets/Art/Animation/Characters/Main/Greetings_bckp.fbx.meta
Assets/Art/Animation/Characters/Main/Running_bckp.fbx
Assets/Art/Animation/Characters/Main/Running_bckp.fbx.meta
Assets/Scenes/Test.unity
Assets/Scenes/Test.unity.meta
/*.vsconfig
